@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Noto+Sans&display=swap');/* done */

:root {
    --primary-color: #22577A;/* headings */
    --secondary-color: #38A3A5;
    --accent1-color: #80ED99;/* background */
    --accent2-color: #C7F9CC;

    --heading-font: 'Antic Slab', serif;
    --paragraph-font: 'Noto Sans', sans-serif;/* done */

    --nav-background-color: #80ED99;
    --nav-link-color: #22577A;
    --nav-hover-link-color: #22577A;
    --nav-hover-background-color: #C7F9CC;/* done */
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}